<div class="form_wrapper">
	<form class="login_form">
		<div class="header_wrapper">
			<h1 class="text_header" id="form_header">Sign in</h1>
		</div>
		<div class="inner_wrapper">
			<div class="empty_cont"></div>
			<input type="text" class="form_field" name="login" placeholder="Login or E-mail">
			<input type="passwor" class="form_field" name="password" placeholder="Password">
		</div>
	</form>
</div> 