<div class="form_wrapper">
	<form class="login_form" action="/users/valid" method="POST">
		<h1 class="text_header" id="form_header">Sign up</h1>
		<input type="text" class="form_field" id="login" name="login" placeholder="Login" minlength="4" required>
		<span class="error" id="login_error">User already exists</span>
		<input type="password" class="form_field" id="password" name="password" placeholder="Password" required>
		<input type="password" class="form_field" id="password_again" name="password_again" placeholder="Password again" required>
		<span class="error" id="password_error">Passwords should match</span>
		<input type="email" class="form_field" id="email" name="email" placeholder="E-mail" required>
		<span class="error" id="email_error">User already exists</span>
		<button type="button" class="submit_button" id="signup"><strong class="button_text">Sign up</strong></button>
	</form>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
<!-- <script src="jquery-3.3.1.min.js"></script> -->
<script type="text/javascript" src="/js/valid.js"></script>
<script type="text/javascript" src="/js/listeners.js"></script>
<!-- <h1>{{ data }}</h1> -->
