<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="header">
		<img class="logo" onclick="location.href='/'" src="/images/logo.png">
		<div class="header_tools">
			{{# if logged_user }}
				<img class="header_icon" src="/images/logout.png">
			{{ else }}
				<img class="header_icon" onclick="location.href='/users/login'" src="/images/login.png">
			{{/if}}
		</div>
	</div>
	<div class="main_cont">
		{{{ body }}}
	</div>
	<div class="footer">
		<div class="contacts">
			<strong class="text_header" id="contact_header">Contact us:</strong><br><br>
			<div class="label_wrapper">
				<strong class="contact_text">Address:</strong><br>
				<strong class="contact_text">Telephone:</strong><br>
				<strong class="contact_text">e-mail:</strong><br>
			</div>
			<div class="text_wrapper">
				<span class="contact_text">Ukraine, Kyiv, 3 Dorohozhytska str. UNIT FACTORY</span><br>
				<span class="contact_text">+38 (063) 754-15-69</span><br>
				<span class="contact_text">white_men@bigmir.net</span><br>
				<span class="contact_text">2018 Created by Roman Malyavchik</span><br>
			</div>
		</div>
	</div>
</body>
</html>