<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
	<div class="header">
		<img class="logo" onclick="location.href='../'" src="/images/logo.png">
		<div class="header_tools">
			{{# if logged_user }}
				<img class="header_icon" src="/images/logout.png">
			{{ else }}
				<img class="header_icon" onclick="location.href='login'" src="/images/login.png">
			{{/if}}
		</div>
	</div>
	{{{ body }}}
	<div class="footer">
		<div class="contacts">
			<strong class="text_header contact_text">Contact us:</strong><br><br>
			<label class="contact_text">Address:</label><span class="contact_text">Ukraine, Kyiv, str. Dorohozhytska, 3 UNIT FACTORY</span><br>
			<label class="contact_text">Telephone:</label><span class="contact_text">+38 (063) 754-15-69</span><br>
			<label class="contact_text">e-mail:</label><span class="contact_text">white_men@bigmir.net</span><br>
			<span class="contact_text">2018 Created by Roman Malyavchik</span>
		</div>
	</div>
</body>
</html>