<div class="admin_container">
	<h2 class="text_header green">Admin</h2>
	<div class="admin_form">

		<div class="button_cont">
			<button type="button" class="admin_button" id="users_button"><strong>Get Users</strong></button>
		</div>
		<div id="admin_content">
			
		</div>
	</div>
	<!-- <button>Test</button> -->
</div>
<script type="text/javascript" src="/js/admin/logic.js"></script>
<script type="text/javascript" src="/js/admin/listeners.js"></script>