<h1>Welcome to {{ title }}</h1>
<h2>Created by {{ created_by }}</h2>
<div class="main_slider">
	<button class="prev_next" id="prev" type="button">
		<img src="/images/prev.png" class="prev_next_img">
	</button>
	<button class="prev_next" id="next" type="button">
		<img src="/images/next.png" class="prev_next_img">
	</button>
	<img src="/images/slider2.jpg" class="slider_photo">
	<button class="submit_button" id="start_button" type="button"><strong class="button_text">Find your match now!</strong></button>
</div>
	<div class="form_wrapper" id="index_wrapper">
		<div class="search_results" id="search_results">
			<h1 class="text_header green">Search Results</h1>
			<img type="button" id="close_search" class="close_button" src="/images/close.png">
			<div class="sort_cont">
				<span>Order By:&nbsp;</span>
				<select class="form_field" id="order_by">
					<option value="">Select</option>
					<option value="age">Age</option>
					<option value="location">Distance</option>
					<option value="rating">Fame Rating</option>
				</select>
				<input type="hidden" id="sort_order" value="asc">
				<img class="req_tool" src="/images/up.png" id="sort_button">
			</div>
			<div class="results_cont">
				<div class="filters" id="filters_cont">
					<div class="filter_group">
						<h2 class="text_header green">Filters</h2>
						<div class="filter_row" id="gender_filter">
							<p class="green">By Gender</p>
							<input type="checkbox" value="Male">&nbsp<span class="checkbox_text">Male</span><br>
							<input type="checkbox" value="Female">&nbsp<span class="checkbox_text">Female</span><br>
							<input type="checkbox" value="Other">&nbsp<span class="checkbox_text">Other</span><br>
						</div>
						<div class="filter_row" id="orientation_filter">
							<p class="green">By Orientation</p>
							<input type="checkbox" value="Heterosexual">&nbsp<span class="checkbox_text">Heterosexual</span><br>
							<input type="checkbox" value="Bisexual">&nbsp<span class="checkbox_text">Bisexual</span><br>
							<input type="checkbox" value="Homosexual">&nbsp<span class="checkbox_text">Homosexual</span><br>
							<input type="checkbox" value="Asexual">&nbsp<span class="checkbox_text">Asexual</span><br>
							<input type="checkbox" value="Other">&nbsp<span class="checkbox_text">Other</span><br>
						</div>
						<div class="filter_row" id="age_filter">
							<p class="green">By Age</p>
							<input class="form_field" type="number" min="12" max="120" id="age_from" placeholder="Minimal age">
							<input class="form_field" type="number" min="12" max="120" id="age_to"  placeholder="Maximal age">
							<p></p>
						</div>
						<div class="filter_row" id="hashtag_filter">
							<p class="green">By Hashtag</p>
							<div style="position:relative;width:80%;">
								<input class="form_field" onkeyup="auto_complete(this);" onfocusout="select_option('hashtag');" type="text" min="12" max="120" id="hashtag" placeholder="Start to type a hashtag">
								<div class="auto_complete">
									
								</div>
							</div>
							<p></p>
						</div>
						<button class="submit_button" type="button" onclick="apply_filters(this); return ;"><strong class="button_text">Apply Filters</strong></button>
						<button class="submit_button" type="button" onclick="clear_filters();"><strong class="button_text">Clear Filters</strong></button>
					</div>
				</div>
			</div>
		</div>
	</div>
<script type="text/javascript" src="/js/index/logic.js"></script>
<script type="text/javascript" src="/js/index/listeners.js"></script>
