<h1>Welcome to {{ title }}</h1>
<h2>Created by {{ created_by }}</h2>
<div class="main_slider">
	<button class="prev_next" id="prev" type="button">
		<img src="/images/prev.png" class="prev_next_img">
	</button>
	<button class="prev_next" id="next" type="button">
		<img src="/images/next.png" class="prev_next_img">
	</button>
	<img src="/images/slider2.jpg" class="slider_photo">
	<button class="submit_button" id="start_button" type="button"><strong class="button_text">Find your match now!</strong></button>
</div>
	<div class="form_wrapper" id="index_wrapper">
		<div class="search_results" id="search_results">
			<h1 class="text_header green">Search Results</h1>
			<img type="button" id="close_search" class="close_button" src="/images/close.png">
			<div class="results_cont">
				<div class="filters" id="filters_cont">
					<div class="filter_group">
						<h2 class="text_header green">Filters</h2>
						<div class="filter_row" id="gender_filter">
							<p class="green">By Gender</p>
							<input type="checkbox" value="Male">&nbsp<span class="checkbox_text">Male</span><br>
							<input type="checkbox" value="Female">&nbsp<span class="checkbox_text">Female</span><br>
							<input type="checkbox" value="Other">&nbsp<span class="checkbox_text">Other</span><br>
						</div>
						<div class="filter_row" id="orientation_filter">
							<p class="green">By Orientation</p>
							<input type="checkbox" value="Heterosexual">&nbsp<span class="checkbox_text">Heterosexual</span><br>
							<input type="checkbox" value="Bisexual">&nbsp<span class="checkbox_text">Bisexual</span><br>
							<input type="checkbox" value="Homosexual">&nbsp<span class="checkbox_text">Homosexual</span><br>
							<input type="checkbox" value="Asexual">&nbsp<span class="checkbox_text">Asexual</span><br>
							<input type="checkbox" value="Other">&nbsp<span class="checkbox_text">Other</span><br>
						</div>
						<div class="filter_row" id="age_filter">
							<p class="green">By Age</p>
							<input class="form_field" type="number" min="12" max="120" id="age_from" placeholder="Minimal age">
							<input class="form_field" type="number" min="12" max="120" id="age_to"  placeholder="Maximal age">
							<p></p>
						</div>
						<div class="filter_row" id="hashtag_filter">
							<p class="green">By Hashtag</p>
							<div style="position:relative;width:80%;">
								<input class="form_field" onkeyup="auto_complete(this);" onfocusout="select_option('hashtag');" type="text" min="12" max="120" id="hashtag" placeholder="Start to type a hashtag">
								<div class="auto_complete">
									
								</div>
							</div>
							<p></p>
						</div>
						<button class="submit_button" type="button" onclick="apply_filters(); return ;"><strong class="button_text">Apply Filters</strong></button>
						<button class="submit_button" type="button" onclick="clear_filters();"><strong class="button_text">Clear Filters</strong></button>
					</div>
				</div>
			</div>
			<div class="results_tools">
				<button class="close_button submit_button" type="button" id="back_button"><strong class="button_text">Back to search</strong></button>
			</div>
		</div>
		<!-- <form class="login_form" id="index_form" action="#" submit="false">
			<img type="button" id="close_search" class="close_button" src="/images/close.png">
			<h2 class="text_header green">Who are you looking for?</h2>
			<div class="fields_wrapper">
				<label for="login">Login:</label><input type="text" class="form_field profile_input" id="login" name="login"><br>
				<label for="first_name">First Name:</label><input type="text" class="form_field profile_input" id="first_name" name="first_name"><br>
				<label for="last_name">Last Name:</label><input type="text" class="form_field profile_input" id="last_name" name="last_name"><br>
				<label for="email">Email:</label><input type="email" class="form_field profile_input" id="email" name="email"><br>
				<label for="age">Age:</label><input type="number" class="form_field profile_input" id="age" name="age" min="12" max="120"><br>
				<label for="gender">Gender:</label>
				<select class="form_field profile_input" name="gender" id="gender">
					<option value=""></option>
					<option value="Male">Male</option>
					<option value="Female">Female</option>
					<option value="Other">Other</option>
				</select><br>
				<label for="orientation">Orientation:</label><select class="form_field profile_input" name="orientation" id="orientation">
					<option value=""></option>
					<option value="Heterosexual">Heterosexual</option>
					<option value="Homosexual">Homosexual</option>
					<option value="Bisexual">Bisexual</option>
					<option value="Asexual">Asexual</option>
					<option value="Other">Other</option>
				</select><br>
				<button class="submit_button search_button" type="button" id="search_button"><strong class="button_text">Find Matches</strong></button>
			</div>	
		</form> -->
	</div>
<script type="text/javascript" src="/js/index/logic.js"></script>
<script type="text/javascript" src="/js/index/listeners.js"></script>
<!-- <script type="text/javascript" src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script> -->
<!-- <script type="text/javascript">
	$(document).ready(function() {
		$( "#hashtag" ).autocomplete({
	       source: "/users/ajax?action=auto_complete&to_find=hashtags",
	       minLength: 2
	    });
	});
</script> -->

<!-- {{# if logged_user }}
<h2>Hi, {{ user_login }}</h2>
<h3>Your ID is: {{ logged_user }}</h3>
{{/if}} -->
