html {
	height: 100%;
}
body {
	height: 100%;
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
	background-repeat: no-repeat;
	background: linear-gradient(45deg, #ffffff, #dddddd);
}

a {
  color: #7777FF;
  text-decoration: none;
}

a:hover {
	color: #4444FF;
}

.header {
	position: absolute;
	width: 101%;
	height: 50px;
	left: -0.5%;
	top: 0;
	background: linear-gradient(180deg, #555555, #111111);
	min-height: 25px;
}

.logo {
	position: absolute;
	height: 50%;
	top: 25%;
	left: 3.5%;
}

.header_tools {
	position: absolute;
	height: 50%;
	right: 3.5%;
	top: 25%;
	display: flex;
	justify-content: center;
}

.header_icon {
	position: relative;
	height: 100%;
	min-width: 80px;
	max-width: 5vw;
	margin-right: 10px;
}

#profile_link {
	position: relative;
	font-size: 100%;
	top: 20%;
}

#admin_link {
	height: 120%;
	top: -10%;
	min-width: 0;
	border-radius: 50%;
}

#admin_link:hover {
	background-color: #556b2f;
}

#logout_icon {
	min-width: 0;
}

.main_cont {
	position: absolute;
	width: 94%;
	left: 3%;
	margin-top: 10px;
}

.footer {
	position: absolute;
	width: 101%;
	height: 120px;
	/*top: 80%;*/
	bottom: 0;
	left: -0.5%;
	background: linear-gradient(180deg, #555555, #111111);
	min-height: 60px;
}

.contacts {
	position: absolute;
	height: 80%;
	min-height: 80px;
	width: 360px;
	top: 10%;
	right: 3.5%;
	padding: 0 10px 0 10px;
}

.text_wrapper {
	position: absolute;
	width: 80%;
	height: 80%;
	bottom: 0;
	right: 0;
}

.label_wrapper {
	position: absolute;
	width: 15%;
	height: 80%;
	bottom: 0;
	left: 0;
}

.text_header {
	text-align: center;
}

#form_header {
	color: #82B436;
}

.green {
	color: #82B436;
}

#contact_header {
	position: absolute;
	left: 10px;
	color: #82B436;
	opacity: 0.7;
}

.contact_text {
	position: relative;
	text-align: left;
	left: 10px;
	color: rgba(255,255,255, 0.8);
	font-size: 85%;
}

.form_wrapper {
	position: relative;
	width: 100%;
	height: 35vh;
	min-height: 300px;
	display: flex;
	justify-content: center;
}


.login_form {
	position: relative;
	width: 25%;
	min-width: 250px;
	max-width: 300px;
	height: 100%;
	border-radius: 6px;
}

#profile_form_wrapper {
	height: 75vh;
	overflow-y: auto;
}

#profile_form {
	max-width: unset;
	width: 30%;
	min-width: 300px;
	min-height: 350px;
	text-align: right;
}

.form_field {
	position: relative;
	width: 90%;
	left: 4%;
	height: 8%;
	margin-bottom: 15px;
	border-radius: 5px;
	border: 2px solid rgba(0,0,0,0.1);
	padding-left: 2%;
	background-color: none;
}

.profile_input {
	width: 70%;
	height: 6%;
	left: unset;
	right: 4%;
}

#confirm_upload {
	position: relative;
	width: 4vw;
	height: 4vw;
	right: 60%;
	border: none;
	background: none;
	padding: 0 4vw 4vw 0;
	display: none;
}

.ok_img {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0
	top: 0;
}

#about {
	width: 70% !important;
	height: 25%;
}

label {
	font-size: 0.7rem;
	font-weight: 550;
	margin-right: 6%;
}

label, textarea {
	vertical-align: middle;
}

.submit_button {
	position: relative;
	width: 93%;
	height: 10%;
	top: 2vh;
	left: 4%;
	border: none;
	border-radius: 5px;
	background: linear-gradient(180deg, #6F9C1B, #8CC13D);
	text-align: center;
	font-size: 120%;
}

.button_text {
	color: rgba(255,255,255,0.8);
}

#save_changes {
	width: 50%;
	height: 7%;
	left: unset;
	right: 15%;
}

.divide_cont {
	position: relative;
	width: 85%;
	left: 8%;
	top: 5vh;
	margin-bottom: 6vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.green {
	color: #82B436;
}

.forgot_wrapper {
	position: relative;
	width: 100%;
	top: 3.5vh;
	text-align: center;
}

.error {
	position: relative;
	color: red;
	left: 6%;
	top: -12px;
	font-size: 90%;
	display: none;
}

.profile_error {
	width: 72%;
	left: 24%;
	right: 0;
	text-align: left;
}

.error_text {
	color: rgba(255, 50, 0, 0.7);
	text-align: center;
}

.back_link {
	text-align: center;
	color: rgba(0, 0, 0, 0.7);
}

#fuck_wrapper {
	position: relative;
	height: 60vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#fuck_image {
	position: relative;
	height: 100%;
}

.album_preview {
	position: relative;
	width: 150%;
	height: 25%;
	left: -25%;
	margin-bottom: 5%;
}

.prev_next {
	position: absolute;
	width: 4%;
	height: 100%;
	background: none;
	border: none;
	/*border: 1px solid rgba(0,0,0,0.1);*/
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider_button {
	width: 3%;
	height: 79.7%;
}

.slider_button:hover {
	background-color: rgba(200,200,200,0.1);
}

#prev {
	left: 0;
}

#next {
	right: 0;
}

#next_slide {
	left: 74%;
}

.prev_next_img {
	position: relative;
	width: 100%;
}

.preview_wrapper {
	position: absolute;
	width: 92%;
	height: 100%;
	left: 4%;
	overflow: hidden;
	display: flex;
	flex-direction: row;
}

#full_preview {
	width: 100%;
	left: 0;
	bottom: 0;
	height: 20%;
	border-top: 1px solid rgba(0,0,0,0.3);
	/*border: 1px solid green;*/
}

.preview_img {
	position: relative;
	max-height: 100%;
	max-width: 100%;
}

.transp {
	position: absolute;
	width: 100%;
	height: 100%;
}

.img_wrapper {
	position: relative;
	min-width: 18%;
	margin-left: 0.5%;
	margin-right: 0.5%;
	height: 99%;
	top: 0;
}

.long {
	min-width: 7%;
	height: 90%;
	top: 5%;
}

#upload {
	border: none;
}

.admin_container {
	position: relative;
	width: 80%;
	height: 74vh;
	left: 10%;
	overflow-y: scroll;
	overflow-x: hidden;
	overflow: hidden;
}

.admin_form {
	position: absolute;
	width: 100%;
	height: 90%;
	overflow-y: auto;
	bottom: 0;
}

.button_cont {
	position: fixed;
	width: 15%;
	height: 100%;
}

.admin_button {
	position: relative;
	width: 98%;
	background: none;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	left: 1%;
	height: 6%;
	margin-top: 5px; 
}

#admin_content {
	position: absolute;
	width: 79%;
	height: 100%;
	right: 0;
}

.user_cont {
	position: relative;
	width: 99%;
	height: 25%;
}

.avatar_wrapper {
	position: absolute;
	width: 15%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.avatar {
	position: relative;
	max-height: 100%;
	max-width: 100%;
}

.user_info {
	position: absolute;
	width: 75%;
	height: 100%;
	left: 15%;
	display: flex;
	align-items: center;
	font-size: 120%;
}

.user_tools {
	position: absolute;
	width: 10%;
	height: 100%;
	right: 0;
}

.user_info_wrapper {
	position: relative;
	width: 100%;
}

.admin_label {
	display: inline-block;
	width: 80px;
	text-align: right;
	margin-right: 20px;
}

.tool {
	position: relative;
	top: 20%;
	width: 100%;
	height: 20%;
}

.del_button {
	position: absolute;
	height: 100%;
	width: 100%;
	border: none;
	background: none;
}

.tool_image {
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
}

.admin_button:hover {
	/*background-color: #82B436;*/
	background: linear-gradient(180deg, #6F9C1B, #8CC13D);
}

.fog {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 2;
	background: rgba(0,0,0,0.95);
	display: none;
}

.confirm_window {
	position: absolute;
	width: 32%;
	height: 24%;
	left: 34%;
	top: 38%;
	border-radius: 10px;
	background: linear-gradient(180deg, #aaaaaa, #dddddd);
}

.confirm_button {
	position: absolute;
	width: 35%;
	height: 20%;
	background: none;
	border: 1px solid rgba(0,0,0,0.2);
	border-radius: 5px;
	bottom: 20%;
}

#yes_button {
	left: 10%;
}

#no_button {
	right: 10%;
}

.confirm_button:hover {
	background-color: rgba(255, 50, 0, 0.7);
}

.full_size {
	position: absolute;
	width: 80%;
	height: 115%;
	left: 10%;
	z-index: 3;
	/*background: rgba(0,0,0,0.2);*/

	display: none;
}

.full_photo {
	position: absolute;
	width: 70%;
	height: 70%;
	top: 2%;
	left: 3.5%;
	/*border: 1px solid black;*/
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.close_button {
	position: absolute;
	width: 2%;
	top: 1%;
	right: 1%;
	z-index: 3;
}

.slider_tools {
	position: absolute;
	width: 71%;
	height: 8%;
	top: 72%;
	left: 3%;
	/*border-radius: 3px 3px 0 0;*/
	z-index: 1;
	/*background-color: rgba(0,0,0,0.5);*/
	/*background: linear-gradient(0deg, #ffffff, #cccccc);*/
	opacity: 1;
}

/*.slider_tools:hover {
	opacity: 1;
}*/

.tools_wrapper {
	position: relative;
	width: 30%;
	height: 100%;
	left: 35%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	/*border: 1px solid yellow;*/
}

.tool_button {
	position: relative;
	height: 70%;
	border-radius: 50%;
}

.tool_button:hover {
	background: linear-gradient(0deg, #CD6461, #CD2421);
}

.comments {
	position: absolute;
	width: 23%;
	height: 80%;
	top: 0;
	right: 0;

	border: 1px solid rgba(0,0,0,0.1);
}

.comment_list {
	position: relative;
	height: 60%;
	width: 99%;
	border: 1px solid rgba(0,0,0,0.1);
}