body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

a {
  color: #00B7FF;
}

.header {
	position: absolute;
	width: 101%;
	height: 5%;
	left: -0.5%;
	top: 0;
	background: linear-gradient(180deg, #555555, #111111);
	min-height: 25px;
}

.logo {
	position: absolute;
	height: 50%;
	top: 25%;
	left: 3.5%;
}

.header_tools {
	position: absolute;
	height: 50%;
	right: 3.5%;
	top: 25%;
	display: flex;
	justify-content: center;
}

.header_icon {
	position: relative;
	height: 100%;
	max-width: 5vw;
	margin-right: 10px;
}

.footer {
	position: absolute;
	width: 101%;
	height: 12%;
	bottom: 0;
	left: -0.5%;
	background: linear-gradient(180deg, #555555, #111111);
	min-height: 60px;
}

.contacts {
	position: absolute;
	height: 80%;
	width: 30%;
	top: 10%;
	right: 3.5%;
	border: 1px solid white;
	padding: 0 10px 0 10px;
	font-size: 0.7vw;
}

.text_header {
	text-align: center;
}

.contact_text {
	/*position: relative;*/
	text-align: left;
	color: rgba(255,255,255, 0.9);
}