<script type="text/javascript" src="/js/friends/logic.js"></script>
<script type="text/javascript" src="/js/friends/listeners.js"></script>
<div class="full_size" id="friends_window">
	<div class="chat_window" id="chat_window">
		<h2 class="text_header green">Chat</h2>
		<img class="close_button" id="close_chat" src="/images/close.png">
		<div class="chat_wrapper">
			<div class="chat_list">
				<h3 class="text_header green">Friends</h3>
				<div class="chat_wrapper" id="chat_list"></div>
			</div>
			<div class="chat_messages" id="chat_messages"></div>
		</div>
		<div class="friend_tools">
			<textarea class="message_input" id="message_input" placeholder="Type your message here"></textarea>
			<img src="/images/send.png" class="tool_button" id="send_message">
		</div>
	</div>
	<div class="friend_fog" id="friend_fog">
		<div class="confirm_window">
			<h2 class="text_header error_text" id="friend_confirm"></h2>
			<button class="confirm_button" id="yes_del"><strong>Yes</strong></button>
			<button class="confirm_button" id="no_del"><strong>No</strong></button>
		</div>
		<div class="confirm_window" id="action_result">
			<h2 class="text_header" id="result_text"></h2>
			<button type="button" class="submit_button" id="result_back"><strong class="button_text">Back</strong></button>
		</div>
		<input type="hidden" id="friend_action">
		<input type="hidden" id="friend_data">
	</div>
	<h2 class="text_header green">Friends</h2>
	<div class="friends_wrapper" id="friends_cont"></div>
	<div class="friend_tools">
		<img src="/images/delete.png" class="tool_button" id="del_friend">
		<img src="/images/chat.png" class="tool_button" id="chat_button">
	</div>
</div>