<script type="text/javascript" src="/js/basic/helpers.js"></script>
<script type="text/javascript" src="/js/friends/logic.js"></script>
<script type="text/javascript" src="/js/friends/listeners.js"></script>
<div class="full_size" id="friends_window">
	<h2 class="text_header green">Friends</h2>
	<div class="friends_wrapper">
		<!-- <a href="#">
			<div class="friend_cont">
				<div class="check_cont">
					<input type="radio" class="">
				</div>
				<div class="avatar"></div>
				<div class="friend_info">
					<div class="friend_info_wrapper">
						<label class="admin_label">Login:</label><span>Login</span><br>
						<label class="admin_label">Full Name:</label><span>Full Name</span><br>
						<label class="admin_label">Age:</label><span>42</span><br>
						<label class="admin_label about_label">About me:</label>
						<div class="search_about">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Excepteur sint occaecat cupidatat non proident oidento</div>
					</div>
				</div>
			</div>
		</a> -->
	</div>
	<div class="friend_tools"><img src="/images/delete.png" class="tool_button" id="del_friend"></div>
</div>