<div class="form_wrapper" id="history_cont">
	<div class="rel_flex">
		<button type="button" class="submit_button" id="by_you">
			<strong class="button_text">You visited</strong>
		</button>
		<button type="button" class="submit_button" id="by_other">
			<strong class="button_text">Visited your page</strong>
		</button>
	</div>
	<div class="history_results" id="history_results"></div>
</div>
<script type="text/javascript" src="/js/history/logic.js"></script>
<script type="text/javascript" src="/js/history/listeners.js"></script>